.profile {
  width: 100%;
  max-width: 880px;
  min-width: 320px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
}


@media screen and (max-width: 640px) {
  .profile {
    justify-content: center;
    padding-bottom: 36px;
  }
}
