.popup__container-pic {
  max-width: 75vw;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  margin-top: 25px;
}

@media screen and (max-width: 640px) {
  .popup__container-pic {
    max-width: 75vw;
    padding: 0;
  }
}
