.profile__info {
  max-width: 336px;
  min-width: 282px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 30px;
}

@media screen and (max-width: 640px) {
  .profile__info {
    padding: 26px 0 0;
    justify-content: center;
  }
}
