.places {
  display: grid;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  grid-template-columns: repeat(auto-fit, 282px);
  column-gap: 17px;
  row-gap: 20px;
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
