.content {
  margin: 0 auto;
  width: 100%;
  max-width: 880px;
  min-width: 320px;
  padding: 40px 0 66px;
}

@media screen and (max-width: 1024px) {
  .content {
    max-width: 581px;
  }
}

@media screen and (max-width: 640px) {
  .content {
    max-width: 282px;
    padding: 42px 0 48px;
  }
}
